body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.object{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: green;
    border-radius: 100px;
    animation: move 4s linear infinite 1s;
}

@keyframes move{
    0% {
        left: 0;
    }
    100% {
        left: 500px;
    }
}