body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.object{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: green;
    animation: rotate 3s linear infinite 1s;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}